<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/betha_project/test/java/br/com/jdbc/teste/Jdbc_test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.jdbc.teste.Jdbc_test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="betha_project"/>
</launchConfiguration>
